<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Movie App</title>
</head>
<body>
    <header>
        <!-- User Authentication Section -->
        <div id="auth-container" class="auth-container">
            <!-- Login and Signup buttons -->
            <button id="login-btn" class="auth-btn">Login</button>
            <button id="signup-btn" class="auth-btn">Join</button>
            
            <!-- Dropdown menu for logged-in user -->
            <span id="user-name" class="auth-btn green-btn" style="display: none;">Username</span>
            <button id="logout-btn" class="auth-btn" style="display: none;">Logout</button>
            
            <!-- Dropdown menu for favorites -->
            <div id="user-menu" class="dropdown-menu" style="display: none;">
                <ul>
                    
                </ul>
            </div>
        </div>
        
        <h1>Azrai's TMDB API Full Stack Project</h1>

        <!-- Container for centering the search bar -->
        <div class="search-container">
            <form id="form">
                <input type="text" placeholder="Search" id="search" class="search">
            </form>
        </div>

        <!-- Container for autocomplete -->
        <div id="autocomplete-container" class="autocomplete-container"></div>

        <!-- Container for category radio buttons -->
        <div id="categories-container" class="categories-container"></div>
    </header>
    
    <!-- Favorites Title -->
    <div id="favorites-title-container" style="display: none;">
        <h1 class="favorites-title">My Favorites</h1>
    </div>


    <main id="main"></main>

    <div class="pagination">
        <div class="page" id="prev">Previous Page</div>
        <div class="current" id="current">1</div>
        <div class="page" id="next">Next Page</div>
    </div>

    <!-- Flash messages (Success or Error) -->
    <div id="flash-wrapper" style="display:none;">
        <div id="flash-messages"></div>
    </div>

    <!-- Login Modal -->
    <div id="login-modal" class="modal">
        <div class="modal-content">
            <span id="close-login-modal" class="close">&times;</span>
            <h2>Log in to your account</h2>
            <form id="login-form">
                <div style="position: relative;">
                    <input type="text" id="login-username" name="username" placeholder="User name" required>
                </div>
                <div style="position: relative;">
                    <input type="password" id="login-password" name="password" placeholder="Password" required>
                </div>
                <button type="submit">Log In</button>
            </form>
        </div>
    </div>

    <!-- Sign-Up (Join) Modal -->
    <div id="signup-modal" class="modal">
        <div class="modal-content">
            <span id="close-signup-modal" class="close">&times;</span>
            <h2>Sign up for an account</h2>
            <form id="signup-form">
                <div style="position: relative;">
                    <input type="text" id="signup-username" name="username" placeholder="User name" required>
                </div>
                <div style="position: relative;">
                    <input type="email" id="signup-email" name="email" placeholder="Email" required>
                </div>
                <div style="position: relative;">
                    <input type="password" id="signup-password" name="password" placeholder="Password" required>
                </div>
                <div style="position: relative;">
                    <input type="password" id="signup-password-confirm" name="password-confirm" placeholder="Retype password" required>
                </div>
                <div class="validation">
                    <span>• Lowercase & uppercase</span>
                    <span>• Number (0-9)</span>
                    <span>• Special Characters (#@!$%^&*)</span>
                    <span>• At least 8 characters</span>
                </div>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>

    <!-- Script for handling the form submissions, user interactions and showing flash messages -->
    <script src="/static/app.js"></script>
</body>
</html>
