<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Movie App</title>
</head>
<body>
    <header>
        <h1>Azrai's TMDB API Full Stack Project</h1>

        <!-- Container for centering the search bar -->
        <div class="search-container">
            <form id="form">
                <input type="text" placeholder="Search" id="search" class="search">
            </form>
        </div>


        
        <!-- Container for autocomplete -->
        <div id="autocomplete-container" class="autocomplete-container"></div>
    
        <!-- Container for category radio buttons -->
        <div id="categories-container" class="categories-container"></div>
    </header>
    
    <main id="main"></main>

    <div class="pagination">
        <div class="page" id="prev">Previous Page</div>
        <div class="current" id="current">1</div>
        <div class="page" id="next">Next Page</div>
    </div>
    
    <script src="/static/app.js"></script>
</body>
</html>
